@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans:ital@1&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans:ital@1&family=Nunito+Sans:opsz@6..12&family=Roboto:wght@700&display=swap');

:root {
    --branco-elt: #fffef8;
    --branco: #eef6fc;
    --azul-lazuli: #08598F;
    --branco-azul: #9ecef3;
    --azul-escuro: #1E4B6B;
    --azul: #0099ff;
    --azul-claro: #6DB9EF;
    --amarelo: #ffd700;
    --amarelo-claro: #F3F2A0;
    --amarelo-mid: #F3F188;
    --amarelo-last: #CAC70A;
    --amarelo-light: #f3f2c8;


}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
   
}


body .inicial{
    background-color: var(--branco);
}


.waves {
    position: absolute;
    bottom: 0;
    z-index: -1;
   
}


.logo{
    
    width: 220px;
    height: 180px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

.frase {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

